<!DOCTYPE html>
<html>
    <head>
        <title>DigitalGardens</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/main.css"/>
    </head>
    <body>
        <center><h2 style="letter-spacing:0.3px">&#127811;About</h2></center>  
        <div id="canvas" style="padding: 24px;text-align: justify;">
            <h3>Introduction</h3>
            <p>Welcome to DigitalGardens, an open-source encyclopedia that leverages semantic similarity to capture a more complete version of the truth. This is accomplished through using context-sensitive word embeddings that measure (dis)agreements. As a result, DigitalGardens captures the (natural) disagreements/consensuses of a topic, instead of a 'moderated' version typically found on the internet. <strong>Note, this version is simply meant as a proof-of-concept.</strong> </p>
            <h3>Manual</h3>
            <p>At DigitalGardens we use "botanial-jargon" to describe the different parts of the encyclopedia (no real reason for this, other than it being fun:)). So, if you want to add an article, you can go to the home page and click on "plant seed". Here, you can create an article through filling in the form. After clicking on "plant seed" in the bottom right, this article will be added to the homepage.</p>
            <p>After writing an article, users can read and comment on it. This is done through clicking on the article name and selecting a piece of text to comment on. Next, a user can write his/her version of that piece of text. This comment will be compared with the original text and incorperated in the "text heatmap". In summary, gray text means it has recieved no comments. Green text means it has recieved (largely) supportive comments. Red text means it has (largely) received disagreeing comments. 
            </p>
            <p>Note, for a complete overview of all comments you can view the changelog. Also, since this website is only meant as a proof-of-concept, the similarity computation is done using a very minimal model. If the website receives more support I will upgrade to a better model.</p>
            <p><strong>Feel free to give feedback/comments on this website/idea! Thank you for visiting DigitalGardens</strong></p>
        </div>
    </body>
    <br />
    <footer>
        <a style="float: left; text-decoration: none;color: black;" href="/">&#11013; Home</a>
    </footer>
    <br />
    <br />
</html>
